*{
	margin: 0;
	padding: 0;
  font-family: sans-serif;
  }

body{
  background:#e74c3c;
  
}
.container{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
  
}

.container h1{
  color:#fff;
  font-size:36px;
  margin-bottom:40px;
  
}

.button{
  background:#fff;
  padding:10px 15px;
  color:#34495e;
  font-weight:bolder;
  text-transform: uppercase;
  font-size:18px;
  border-radius:5px;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
  margin-top:25px;
  text-decoration:none;
  transition:0.4s;
  
  
    
}

.button:hover{
  background:#34495e;
  color:#fff;
  
}

.start{
  background: rgba(0,0,0,0.6);
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  display:flex;
  justify-content: center;
  align-items:center;
  
}
.start-content{
  height:250px;
  width:500px;
  padding:20px;
  background:#fff;
  border-radius:5px;
  position:relative;
  
  
}







